@media only screen and (max-width: 600px) {
    .Track-info {
        text-align: center;
    }
}

.Track-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin: 1rem;
}

.Track-artist,
.Track-name,
.Track-duration {
    margin: .1rem 0;
}

.Track-artist {
    font-size: 3rem;
    font-weight: bold;
}
