.App {
    align-items: center;
    display: flex;
    flex-direction: column;
    min-width: 80%;
}

.App-header {
    justify-content: center;
    color: white;
    font-size: 3.5rem;
    font-weight: bold;
    margin: 2rem auto;
    padding: 0;
}
