.App {
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 70%;
}

.App-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 8rem;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}
